// -- Marquee -- //

$ns: '.marquee';

#{$ns} {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&__content {
		position: relative;
		width: fit-content;
		height: 100%;
		display: flex;
		animation: marquee-rtl 24s linear infinite;
	}

	&__content-block {
		width: fit-content;
		height: 100%;
		display: flex;
		align-items: center;
	}

	&--ltr {
		#{$ns}__content {
			float: right;
			animation: marquee-ltr 24s linear infinite;
		}
	}
}

@keyframes marquee-rtl {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(-50%, 0, 0);
	}
}

@keyframes marquee-ltr {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(50%, 0, 0);
	}
}
