// -- Marquee -- //

$ns: '.marquee';

#{$ns} {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&__content {
		position: relative;
		width: fit-content;
		height: 100%;
		display: flex;
		animation: marquee 24s linear infinite;
	}

	&__content-block {
		width: fit-content;
		height: 100%;
		display: flex;
		align-items: center;
	}
}

@keyframes marquee {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(-50%, 0, 0);
	}
}
