// Typography
/* TODO: Refactor to output multiple src url/formats */
@mixin font-face($fonts) {
	@each $family, $path, $type in $fonts {
		@font-face {
			font-family: $family;
			src: url($path) format($type);
		}
	}
}

$fonts:
	"Family One" "path/to/file.ttf" "truetype",
	"Family Two" "path/to/file.ttf" "truetype";

@at-root {
	@include font-face($fonts);
}

$fontBody: "Font";
$fontHeading: "Font";

//-- Base mixins
@mixin base-typography {
	font-style: normal;
	-moz-osx-font-smoothing: grayscale; /* 1 */
	-webkit-font-smoothing: antialiased; /* 1 */
}

@mixin base-heading($fontSize, $fontWeight, $letterSpacing, $lineHeight) {
	@include base-typography();

	font-family: $fontHeading;
	font-size: $fontSize;
	font-weight: $fontWeight;
	letter-spacing: $letterSpacing;
	line-height: $lineHeight;
}

@mixin base-body($fontSize, $fontWeight, $letterSpacing, $lineHeight) {
	@include base-typography();

	font-family: $fontBody;
	font-size: $fontSize;
	font-weight: $fontWeight;
	letter-spacing: $letterSpacing;
	line-height: $lineHeight;
}

//-- Reusable/consumable mixins
@mixin body-text {
	@include base-body(
		$fontSize: 1rem,
		$fontWeight: 400,
		$letterSpacing: 0rem,
		$lineHeight: 1.1rem
	);
}

@mixin h1 {
	@include base-heading(
		$fontSize: 2rem,
		$fontWeight: 600,
		$letterSpacing: 0.1rem,
		$lineHeight: 1.1rem
	);
}

@mixin h2 {
	@include base-heading(
		$fontSize: 1.8rem,
		$fontWeight: 600,
		$letterSpacing: 0.1rem,
		$lineHeight: 1.1rem
	);
}

@mixin h3 {
	@include base-heading(
		$fontSize: 1.6rem,
		$fontWeight: 600,
		$letterSpacing: 0.1rem,
		$lineHeight: 1.1rem
	);
}

@mixin h4 {
	@include base-heading(
		$fontSize: 1.4rem,
		$fontWeight: 600,
		$letterSpacing: 0.1rem,
		$lineHeight: 1.1rem
	);
}

@mixin h5 {
	@include base-heading(
		$fontSize: 1.2rem,
		$fontWeight: 600,
		$letterSpacing: 0.1rem,
		$lineHeight: 1.1rem
	);
}

@mixin h6 {
	@include base-heading(
		$fontSize: 1rem,
		$fontWeight: 600,
		$letterSpacing: 0.1rem,
		$lineHeight: 1.1rem
	);
}

//-- Rule definitions
html {
	font-size: 16px;
}

.body-text,
body {
	@include body-text;
}

.h1,
h1 {
	@include h1;
}

.h2,
h2 {
	@include h2;
}

.h3,
h3 {
	@include h3;
}

.h4,
h4 {
	@include h4;
}

.h5,
h5 {
	@include h5;
}

.h6,
h6 {
	@include h6;
}
