@at-root {
	@font-face {
		font-family: "Font";
		font-style: normal;
		font-weight: normal;
		src:
			url("../path to font files.ttf") format("truetype"),
			url("../path to font files.woff2") format("woff2"),
			url("../path to font files.woff") format("woff");
		
	}
}

// Typography
$fontBody: "Font";
$fontHeading: "Font";

@mixin base-typography {
	font-style: normal;
	-moz-osx-font-smoothing: grayscale; /* 1 */
	-webkit-font-smoothing: antialiased; /* 1 */
}

@mixin base-heading($fontSize, $fontWeight, $letterSpacing, $lineHeight) {
	@include base-typography();

	font-family: $fontHeading;
	font-size: $fontSize;
	font-weight: $fontWeight;
	letter-spacing: $letterSpacing;
	line-height: $lineHeight;
}

@mixin base-body($fontSize, $fontWeight, $letterSpacing, $lineHeight) {
	@include base-typography();

	font-family: $fontBody;
	font-size: $fontSize;
	font-weight: $fontWeight;
	letter-spacing: $letterSpacing;
	line-height: $lineHeight;
}

html {
  font-size: 16px;
}

body {
  @include base-body(
    $fontSize: 1rem,
    $fontWeight: 400,
    $letterSpacing: 0rem,
    $lineHeight: 1.1rem
  );
}

h1 {
  @include base-heading(
    $fontSize: 2rem,
    $fontWeight: 600,
    $letterSpacing: 0.1rem,
    $lineHeight: 1.1rem
  );
}

h2 {
  @include base-heading(
    $fontSize: 1.8rem,
    $fontWeight: 600,
    $letterSpacing: 0.1rem,
    $lineHeight: 1.1rem
  );
}

h3 {
  @include base-heading(
    $fontSize: 1.6rem,
    $fontWeight: 600,
    $letterSpacing: 0.1rem,
    $lineHeight: 1.1rem
  );
}

h4 {
  @include base-heading(
    $fontSize: 1.4rem,
    $fontWeight: 600,
    $letterSpacing: 0.1rem,
    $lineHeight: 1.1rem
  );
}

h5 {
  @include base-heading(
    $fontSize: 1.2rem,
    $fontWeight: 600,
    $letterSpacing: 0.1rem,
    $lineHeight: 1.1rem
  );
}

h6 {
  @include base-heading(
    $fontSize: 1rem,
    $fontWeight: 600,
    $letterSpacing: 0.1rem,
    $lineHeight: 1.1rem
  );
}
